{{ define "title" }}
	{{ $.Site.Title -}}
{{ end }}

{{ define "head" }}
<script>
  ajax().get("https://storage.googleapis.com/charlieegan3-music-summary/stats.json").then(function (response, xhr) {
    renderPlays(response.PlaysMonth, "PlaysMonth");
    renderPlays(response.PlaysYear, "PlaysYear");

    renderArtists(response.ArtistsMonth, "ArtistsMonth", 5);
    renderArtists(response.ArtistsYear, "ArtistsYear", 5);

    renderPlaysByMonth(response.PlaysByMonth);

    new LazyLoad({
      elements_selector: ".lazy"
    });
  })
</script>
{{ end }}

{{ define "main" }}
<h2 class="f4-ns f5 bt pt3 b--light-gray">top this month</h2>
<table id="PlaysMonth" class="f6-ns f7 w-100"></table>
<p class="f7 f6-ns"><strong>Artists:</strong> <span id="ArtistsMonth"></span></p>

<h2 class="f4-ns f5 bt pt3 b--light-gray">top this year</h2>
<table id="PlaysYear" class="f6-ns f7 w-100"></table>
<p class="f7 f6-ns"><strong>Artists:</strong> <span id="ArtistsYear"></span></p>

<h2 class="f4-ns f5 bt pt3 b--light-gray">plays by month</h2>
<canvas id="PlaysByMonth"></canvas>
{{ end }}
