{{ define "title" }}
	{{- .Title }} - {{ $.Site.Title -}}
{{ end }}

{{ define "head" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
{{ end }}

{{ define "main" }}
  <h1>{{ .Title }}</h1>
    <p class="f7 f6-ns">
    <strong>Plays:</strong> <span class="pr2" id="TotalPlays"></span>
    <strong>Tracks:</strong> <span class="pr2" id="TotalTracks"></span>
    <strong>Duration:</strong> <span class="pr2" id="TotalDuration"></span>
  </p>

  <h2 class="f4-ns f5 bt pt3 b--light-gray">plays by month</h2>
  <canvas id="PlaysByMonth"></canvas>

  <h2 id="TrackLifetimeHeader" class="dn f3-ns f5 bt pt3 b--light-gray">track lifetime<span class="o-40 f7"> Chart by <a href="http://twitter.com/caletilford">Cale</a></span></h2>
  <p id="TrackLifetimeNote"></p>
  <div id="TrackLifetime"></div>

  <h2 class="f4-ns f5 bt pt3 b--light-gray">tracks</h2>
  <table id="PlaysByTrack" class="f6-ns f7 w-100"></table>

  <h2 class="f4-ns f5 bt pt3 b--light-gray">all plays</h2>
  <table id="AllPlays" class="f6-ns f7 w-100"></table>

  <script>
    function countTracks(plays) {
      var tracks = {};
      for (var i = 0; i < plays.length; i++) {
        tracks[plays[i].Track] = 0;
      }
      return Object.keys(tracks).length;
    }

    function calcDuration(plays) {
      var durationSum = 0;
      var count = 0;
      for (var i = 0; i < plays.length; i++) {
        if (plays[i].Duration) {
          durationSum += parseInt(plays[i].Duration);
          count += 1;
        }
      }
      if (count > 0) {
        var mean = durationSum / count;
        var approximateCount = plays.length - count;
        var approximateDuration = mean * approximateCount;
        durationSum += approximateDuration;
      } else {
        // guess at the average duration
        durationSum = plays.length * 329537;
      }
      return (durationSum / 1000 / 60 / 60).toFixed(1);
    }

    function playsByCount(plays) {
      var playCounts = {};

      for (var i = 0; i < plays.length; i++) {
        if (plays[i].Track in playCounts) {
          playCounts[plays[i].Track]["Count"] += 1;
        } else {
          playCounts[plays[i].Track] = JSON.parse(JSON.stringify(plays[i]));
          delete playCounts[plays[i].Track]["Timestamp"];
          playCounts[plays[i].Track]["Lifetime"] = true;
          playCounts[plays[i].Track]["Count"] = 1;
        }
      }

      var countedPlays = [];
      for (var track in playCounts) {
        countedPlays.push(playCounts[track]);
      }
      countedPlays = countedPlays.sort(function(a, b) {
          return b.Count - a.Count;
      });

      renderPlays(countedPlays, "PlaysByTrack");
    }

    function renderPlaysByMonth(plays) {
      var sortedPlays = plays.sort(function(a, b){
        return a.Timestamp > b.Timestamp;
      });
      var months = {};
      for (var i = 0; i < sortedPlays.length; i++) {
        var date = new Date(Date.parse(sortedPlays[i].Timestamp.split(" ")[0]));
        if (date.getFullYear() > 1970) {
          var monthString = date.getFullYear() + "-" + date.getMonth();
          if (months[monthString] == undefined) {
            months[monthString] = 1
          } else {
            months[monthString] += 1
          }
        }
      }

      var color = Chart.helpers.color;
      var barChartData = {
        labels: Object.keys(months),
        datasets: [{
          data: Object.values(months),
          label: "Plays",
          backgroundColor: color("lightgray").alpha(0.5).rgbString(),
          borderColor: "lightgray",
          borderWidth: 1,
        }]
      };

      var ctx = document.getElementById("PlaysByMonth").getContext("2d");
      window.myBar = new Chart(ctx, {
        type: "bar",
        data: barChartData,
        options: {
          responsive: true,
          legend: { display: false },
          title: { display: false },
          scales: {
            xAxes: [{
              gridLines: { display: false }
            }],
            yAxes: [{
              gridLines: { display: false },
              ticks: { beginAtZero: true }
            }]
          }
        }
      });
    }

	function renderLifetimeChart(e) {
		document.getElementById("TrackLifetimeHeader").classList.remove("dn");
		document.getElementById("TrackLifetime").innerHTML = "";

		var track = e.target.getAttribute("data-track");
		document.getElementById("TrackLifetimeNote").innerHTML = "Cumulative plays of <strong>" + track + "</strong>";

		var getTime = d3.timeParse("%Y-%m-%d %H:%M:%S")
		var timestamps = [];
		for (var i = 0; i < plays.length; i++) {
			if (plays[i].Track == track) {
				timestamps.push(getTime(plays[i].Timestamp.slice(0, -4)))
			}
		}
		timestamps = timestamps.sort(function(a, b){
			return a - b;
		});

		var width = 500;
		var height = 300;
		var margin = ({top: 10, right: 10, bottom: 10, left: 10});
		var svg = d3.select("#TrackLifetime")
        .append("svg")
        .attr("viewBox", "0 0 " + (width + margin.left + margin.right) + " " + (height + margin.top + margin.bottom))
        .append("g")
        .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");
		var x = d3.scaleTime()
			.domain(d3.extent(timestamps))
			.range([margin.left, width - margin.right])
		var y = d3.scaleLinear().domain([0, timestamps.length]).range([height - margin.bottom, margin.top])
		var line = d3.line()
			.x(d => x(d))
			.y((_, i) => y(i + 1))
			.curve(d3.curveStepAfter)

		var path = svg.append("g")
			.attr("fill", "none")
			.attr("stroke", "steelblue")
			.attr("stroke-width", 1.5)
			.attr("stroke-linejoin", "round")
			.attr("stroke-linecap", "round")
			.selectAll("path")
			  .data([timestamps])
			  .enter().append("path")
			  .attr("d", d => line(d))

		var xAxis = g => g
			.attr("transform", `translate(0,${height - margin.bottom})`)
			.call(d3.axisBottom(x))
		var yAxis = g => g
			.attr("transform", `translate(${margin.left},0)`)
			.call(d3.axisLeft(y))
		svg.append("g").call(xAxis);
		svg.append("g").call(yAxis);

		document.getElementById("TrackLifetimeHeader").scrollIntoView();
	}

    var plays = {{ .Params.plays | jsonify | safeJS }};

    document.getElementById("TotalPlays").innerHTML = plays.length;
    document.getElementById("TotalTracks").innerHTML = countTracks(plays);
    document.getElementById("TotalDuration").innerHTML = calcDuration(plays) + " hours";
    playsByCount(plays);
    renderPlaysByMonth(plays);

    plays = plays.sort(function(a, b){
      return a.Timestamp < b.Timestamp;
    });
    renderPlays(plays, "AllPlays");

    var myLazyLoad = new LazyLoad({
      elements_selector: ".lazy"
    });
  </script>
{{ end }}
