{{define "title"}}Menu{{end}}
{{define "page_title"}}Menu{{end}}
{{define "head"}}{{end}}

{{define "content"}}
<div class="w-100 pt1 center absolute relative-ns bottom-0 pb3 pb0-ns">
    <p>This site supports viewing my music data in the following ways:</p>
    <a class="mt2 db no-underline" href="/">
        <div class="f4 underline">Top</div>
        <div class="pt1 f6 f5-ns silver">View top tracks for various time periods</div>
    </a>
    <a class="mt2 db no-underline" href="/recent">
        <div class="f4 underline">Recent</div>
        <div class="pt1 f6 f5-ns silver">View most recently played tracks</div>
    </a>
    <a class="mt2 db no-underline" href="/artists">
        <div class="f4 underline">By Artist</div>
        <div class="pt1 f6 f5-ns silver">Search and browse by artist</div>
    </a>
    <a class="mt2 db no-underline" href="/months">
        <div class="f4 underline">Top by Month</div>
        <div class="pt1 f6 f5-ns silver">View top tracks for each month</div>
    </a>
</div>
{{end}}