{{define "title"}}Recent{{end}}
{{define "page_title"}}Recently Played{{end}}
{{define "head"}}{{end}}

{{define "content"}}
{{ range .Plays }}
<div class="mb1 pa1 ba b--light-gray flex items-center">
    <div class="flex-grow-0">
        <img class="dib w2 v-mid ba b--light-gray" src="{{ .Artwork }}" alt="Album artwork for {{ .Album }} by {{ .Artist }}" />
    </div>
    <div class="flex-grow-1 flex justify-between pl1">
      <div class="flex items-center">{{ .Track }}</div>
      <div class="f6">
          <div class="tr">
              {{ range .Artists }}
                <a href="/artists/{{ name_slug . }}">{{ . }}</a>
              {{ end }}
          </div>
          <div class="tr muted"> {{ .AgoTime }} </div>
      </div>
    </div>
</div>
{{end}}
{{end}}