{{ define "title" }}
	Arists - {{ $.Site.Title -}}
{{ end }}

{{ define "head" }}
<script>
ajax().get("https://storage.googleapis.com/charlieegan3-music-summary/stats-tracks.json").then(function (response, xhr) {
  var artists = response.Artists;
  renderArtistsWithTracks(artists.slice(0, 10), 5, "Artists");

  var spinner = document.getElementById("spinner");
  spinner.className = "dn";

  document.getElementById("ArtistFilterBox").oninput = function() {
    var term = document.getElementById("ArtistFilterBox").value.toLowerCase();
    if (term.length == 0) {
      renderArtistsWithTracks(artists.slice(0, 10), 5, "Artists");
      return
    }

    var artistsContainer = document.getElementById("Artists");
    artistsContainer.innerHTML = "";

    var matching = [];
    for (var i = 0; i < artists.length; i++) {
      if (v.latinise(artists[i].Name.toLowerCase()).indexOf(term) !== -1) {
        matching.push(artists[i]);
      }
    }
    if (matching.length > 30) {
      artistsContainer.innerHTML = "...keep going, " + matching.length + " matching artists";
      return
    }

    renderArtistsWithTracks(matching, 1000, "Artists");
  };
});
</script>
{{ end }}

{{ define "main" }}
<h2 class="f4-ns f5 bt pt3 b--light-gray">explore artists</h2>
<input id="ArtistFilterBox" class="input-reset ba w-100 b--black pa2" placeholder="type to filter..."/>
<p id="spinner"><img src="https://upload.wikimedia.org/wikipedia/commons/d/de/Ajax-loader.gif"></p>
<div id="Artists"></div>
{{ end }}
